<!-- The header ejs template is included to ensure our CSS and fonts are loaded -->
<%- include('partials/header') %>

    <!-- Display question or whatever else here -->
    <h1></h1>
</body>
</html>